beautifulsoup4==4.13.4
blinker==1.6.2
bs4==0.0.2
certifi==2025.4.26
numby==2.2.5
pandas==2.2.3
pyodbc==5.2.0
selenium==4.32.0
selenium-wire==5.1.0
SQLAlchemy==2.0.41
urllib3==2.4.0
wenbdriver-manager==4.0.2
websocket-client==1.8.0